/*common styling for  all section containers*/

.main {
    margin-left: 20px;
}

.thumbnailscontainer {
    display: flex;
    width: min-content;
    margin-left: 10px;
    height: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin-left: 0px;
    scroll-behavior: smooth;
}

.sectionnames {
    font-weight: bold;
    margin-left: 50px;
    margin-top: 30px;
    color: white;
}

.thumbnaildesign1 {
    /*common thumbnail  design for history,watchlist&news*/
    width: 260px;
    height: 145px;
    margin: 15px;
    border-radius: 10px;
    position: relative;
    flex-shrink: 1;
    background-color: #0d121b;
    /* fallback for old browsers *
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* Chrome 10-25, Safari 5.1-6 *
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.thumbnaildesign2 {
    /*common thumbnail design for movies,shows*/
    position: relative;
    margin: 18px;
    height: 220px;
    width: 138px;
    border-radius: 5px;
    background-color: #0d121b;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*todo:add hovering on thumbnails*/


/*news*/

.backgroundimg {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.onhover1 {
    display: inline-block;
    align-content: center;
    opacity: 0;
    width: 100%;
    height: 65%;
    position: absolute;
    top: 65px;
    font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
    font-size: 15px;
    cursor: default;
    font-weight: 400;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133, #192133);
    /* transition: 2s ease;*/
    margin-left: 0px;
    color: white;
}

.description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 100%;
    top: 10px;
    position: absolute;
    margin: 20px;
}

.title {
    position: absolute;
    top: 0px;
    font-weight: bold;
    font-size: 15px;
    opacity: 1.0;
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
    margin-top: 8px;
}

.description .genre {
    margin-top: 16px;
    margin-left: 2px;
    font-size: 10px;
    font-family: "Roboto";
}

.description .year {
    margin-top: 16px;
    font-family: "Roboto";
    margin-left: 2px;
    font-size: 10px;
}

.description .language {
    margin-top: 16px;
    font-family: "Roboto";
    margin-left: 2px;
    font-size: 10px;
}

.button1 .button2 {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.onhover1 .button1 {
    border-style: none;
    width: auto;
    height: 20px;
    color: whitesmoke;
    background-color: #0d121b;
    font-weight: bold;
    opacity: 0.3;
    font-size: 10px;
    margin-top: 60px;
    margin-left: 5px;
    cursor: pointer;
}

.onhover1 .button2 {
    border-style: none;
    width: auto;
    height: 20px;
    background-color: #0d121b;
    color: whitesmoke;
    font-weight: bold;
    font-size: 10px;
    bottom: 2px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    opacity: 0.3;
    cursor: pointer;
}

.button1:hover,
.button1 {
    border-radius: 5px;
    opacity: 0.8;
}

.button2:hover,
.button2 {
    border-radius: 5px;
    opacity: 0.8;
}

.thumbnaildesign2:hover .title {
    top: 20px;
}

.thumbnaildesign2:hover .description {
    top: 30px;
    margin-left: 0px;
}

.thumbnaildesign1:hover .description {
    top: 10px;
    margin-top: 3px;
    margin-left: 0px;
}


/*.onhover1 p {
    display: inline;
    
}*/


/* .leftarrow {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(0, 0, 0);
    width: 80px;
    text-align: center;
    height: 145px;
    z-index: 1;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.rightarrow {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    left: 290px;
    top: 0px;
    background: rgb(0, 0, 0);
    width: 80px;
    text-align: center;
    height: 145px;
    z-index: 1;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
*/

.thumbnaildesign1:hover .backgroundimg {
    margin: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    transform: scaleY(1.3);
    transform: scaleX(1.4);
    z-index: 1;
}

.thumbnaildesign2:hover .backgroundimg {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    transform: scaleY(3.4);
    transform: scaleX(1.8);
    border-radius: 5px;
}

.thumbnaildesign2:hover .onhover1 {
    opacity: 1.0;
    top: 80px;
    height: auto;
    bottom: 0px;
}

.thumbnaildesign1:hover .onhover1 {
    opacity: 1.0;
    top: 60px;
    height: auto;
    bottom: 0px;
}

.thumbnaildesign2:hover .button1 {
    margin-top: 85px;
}