/*common styling for  all section containers*/
.thumbnailscontainer{
	 display:flex;
	 width:min-content;
	height:175px;
	 flex-direction:row;
	 flex-shrink:0;
	 margin-left:50px;
}

.sectionnames{
   font-weight:bold;
   margin-left:50px;
   margin-top:30px;
   color:white;
}

.thumbnaildesign1{   /*common thumbnail  design for history,watchlist&news*/
	  			width:230px;
	height:130px;
	margin:10px;
border-radius:10px;
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position:relative;
}

.thumbnaildesign2{
	position:relative;
	margin:10px;
	height:100%;
	width:140px	;
	border-radius:10px;
	background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */		
}

/*todo:add hovering on thumbnails*/

.specialopscontent{
	     background-image:url('specialops.jpeg');
		 width:100%;
	     background-size:100% 100%;
	    background-position:center;
	    background-repeat:no-repeat;
		border-radius:10px;	
        height:100%;
}	 

/*watch-list thumbnails styling*/
.gotthumbnail{
	position:relative;
			width:230px;
	height:130px;
	margin:10px;
   background-image:url('gotintro.jpeg');
background-size:cover;
background-position:center center;
border-radius:5px;
}
.description{
	color:aqua;
	position:absolute;
	bottom:0;
	margin-left:30px;
	font-weight:bold;
}


/*movies*/
.baaghithumbnail{
	         margin:10px;
	         height:100%;
			 width:135px;
			 background-image:url('baaghi3.jpeg');
			 background-position:center;
			 border-radius:10px;
}

/*show section styling*/

.gameofthronescontents{
	background-image:url('Got.jpg');
	background-size:100% 100%;
	background-position:center;
	height:100%;
	width:135px;
	border-radius:10px;
}

.chernobylcontents{
	background-image:url('chernobyl.jpeg');
	width:100%;
	background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
		border-radius:10px;	
		height:100%;
}
.walkingdeadcontents{
	background-image:url('walkingdead.jpeg');
	width:100%;
	background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
		border-radius:10px;	
height:100%;
}
		/*multiplex-movies */
		
.dilbecharacontents{
	background-image:url('Dilbechara.jpg');
		width:100%;
	background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
		border-radius:10px;	
height:100%;
}
.khoodhafeezcontents{
	background-image:url('khoodhafeez.jpg');
	width:100%;
	background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
		border-radius:10px;	
     height:100%;
}
.laxmibombcontents{
	background-image:url('laxmibomb.jpeg');
	width:100%;
	background-size:100% 100%;
	background-position:center;
	background-repeat:no-repeat;
		border-radius:10px;	
     height:100%;
}
/*news*/
.rafalecontents{
	background-image:url('rafale.jpeg');
	width:100%;
	     background-size:100% 100%;
	    background-position:center;
	    background-repeat:no-repeat;
		border-radius:10px;	
        height:100%;
		position:relative;
}
.rajasthancrisis{
	background-image:url('rajasthan.jpeg');
	width:100%;
	     background-size:100% 100%;
	    background-position:center;
	    background-repeat:no-repeat;
		border-radius:10px;	
        height:100%;
		position:relative;
}
.indianews{
		background-image:url('indianews.jpeg');
	width:100%;
	     background-size:100% 100%;
	    background-position:center;
	    background-repeat:no-repeat;
		border-radius:10px;	
        height:100%;
}